body {
    background-image: url("http://static1.squarespace.com/static/595543f6b11be1695b0fdb29/t/59555414cd0f68572370bb64/1498764324553/DFP-RockPaperScissors-Black.png?format=1000w");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}